*{
    margin : 0;
}

html,body,#tout{
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex:1;
}

img{
    width: 100%;
}

iframe{
    width: 100%;
    height: 500px;
}

form{
    display: flex;
    flex-direction: column;
}

.formulaire{
    display: flex;
    flex-direction: column;
}

footer{
    height: 5%;
    background-color: black;
    color : white;
    width: 100%;
    text-align: center;
    flex:0;
}


@media (min-width: 768px){

    
    img{
        width: 50%;
        margin-top : 2%;
        margin-bottom:2%;;
        margin-left:25%;
    }

    form{
        margin-left: 3%; 
    }

    iframe{
        padding:2%;
        padding-bottom: 2%;
    }

    input{
        width: 30%;
    }
    
    textarea{
        width: 50%;
    }

    .bouton{
        margin-top: 21px;
        margin-bottom: 21px;
    }

    p{
        text-align: center;
    }

    .imagenul{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imagenul>img{
        width: 25%;
        margin-left:0;
    }

    main p{
        text-align: left;
    }
}